POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
FRONTEND_PORT=3000

RECOVERY_PLAN_SERVICE_URL=http://localhost:8001
QUESTIONNAIRE_SERVICE_URL=http://localhost:8002
EXERCISE_GUIDANCE_SERVICE_URL=http://localhost:8003
COMPLICATION_ALERT_SERVICE_URL=http://localhost:8004
CARE_COORDINATION_SERVICE_URL=http://localhost:8005
